@font-face {
  font-family: "mollenBold";
  src: url(../fonts/mollenPersonalUse/mollenBold.otf);
}
@font-face {
  font-family: "mollenRegular";
  src: url(../fonts/mollenPersonalUse/mollenRegular.otf);
}
@font-face {
  font-family: "heyKiddo";
  src: url(../fonts/heyKiddo/heyKiddo.ttf);
}
@font-face {
  font-family: "massedi";
  src: url(../fonts/massedi/Massedi.otf);
  src: url(../fonts/massedi/Massedi.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 1.8rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #23212c;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #23212c;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #23212c;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn_burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: background 250ms ease-in;
  background: transparent;
  color: #333;
}

.nav-scrolled {
  background-color: #fcd615;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  font-family: "mollenBold";
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #23212c;
  list-style-type: none;
  padding: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav_item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_item.open {
  transform: translateX(0);
}
.nav .menu-nav_item.active > a {
  color: #fcd615;
}
.nav .menu-nav_link {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_link:hover {
  color: #fcd615;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  transition-delay: 0.55s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
    padding-top: 0;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1.5rem;
  }
}
.about {
  color: #000;
  position: relative;
}
.about::after {
  content: "";
  background: url(./../images/education.png) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#about-section {
  padding-top: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
  font-family: "heyKiddo";
}
#about-section h2 {
  font-size: 2.5rem;
}

ul {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
}
ul small {
  color: #878787;
  font-weight: bold;
}

.company-name {
  font-family: "massedi";
  position: relative;
}

body {
  font-family: "mollen";
  line-height: 1.5;
}

header {
  height: 100vh;
  overflow: hidden;
  padding: 1rem 2rem 0 2rem;
}
header::before {
  content: "";
  background: url(./../images/newIdeas.svg) no-repeat bottom right;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
  z-index: -2;
}

.tag-line {
  padding-top: 5rem;
}

.title {
  font-family: "ABeeZee";
}
.title .thick {
  color: #992409;
}
.title .thin {
  font-size: 3.5rem;
  color: #23212c;
}

.definition {
  padding: 1.5rem;
}

.action-btn {
  text-align: center;
  align-items: center;
}
.action-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "heyKiddo";
  font-weight: bold;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  background-color: #fcd615;
  color: #23212c;
}

/*# sourceMappingURL=style.css.map */
