.about {
	color: #000;
position: relative;
	&::after {
		content: "";
		background: url(./../images/education.png) no-repeat center;
	background-size: cover;
	 opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   


	}
}


#about-section {
	padding-top: 6.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 100vh;
	font-family: 'heyKiddo';
	h2 {;
		font-size: 2.5rem;
	}
}

ul {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 2rem;

	small {
		color: #878787;
		font-weight: bold;
	}
}
