@font-face {
	font-family: 'mollenBold';
	src: url(../fonts/mollenPersonalUse/mollenBold.otf);
}

@font-face {
	font-family: 'mollenRegular';
	src: url(../fonts/mollenPersonalUse/mollenRegular.otf);
}

@font-face {
	font-family: 'heyKiddo';
	src: url(../fonts/heyKiddo/heyKiddo.ttf);
}

@font-face {
	font-family: 'massedi';
	src: url(../fonts/massedi/Massedi.otf);
	src: url(../fonts/massedi/Massedi.ttf);
}