@include media-md {
	.menu-btn {
		visibility: hidden;
	}

	.nav {
		visibility: visible;

		.menu-nav {
			display: block;
			transform: translateY(0);
			height: 100%;
			background: transparent;
			text-align: right;
			padding-top: 0;

			&_item {
				display: inline;
				padding-right: 1.5rem;
			}

			&_link {
				font-size: 1.5rem;
			}
		}
	}
}