@import 'fonts';
@import 'config';
@import 'menu';
@import 'responsive';
@import 'about';


.company-name {
	font-family: 'massedi';
	position: relative;
}

// header {
// 	color: $primary-color;
// }

body {
	font-family: 'mollen';
	line-height: 1.5;
}

header {
	height: 100vh;
	overflow: hidden;
	padding: 1rem 2rem 0 2rem;

	&::before {
		content: '';
		background: url(./../images/newIdeas.svg) no-repeat bottom right;
		background-size: contain;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.85;
		z-index: -2;
	}
}

.tag-line {
	padding-top: 5rem;
}

.title {
	
	// padding-left: 2rem;
	
	font-family: 'ABeeZee';
	// font-size: 22px;
	.thick {
		color: #992409;
	}
	.thin {
		// font-family: 'mollenRegular';
		font-size: 3.5rem;
		color: $primary-color;
	}
}


.definition {
	padding: 1.5rem;
}

.action-btn {
	text-align: center;

		// display: flex;
		// justify-content: center;
		// align-content: center;
		align-items: center;
		
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'heyKiddo';
		font-weight: bold;
		text-decoration: none;
		width: 8rem;
		height: 3rem;
		background-color: $secondary-color;
		color: $primary-color;
	}
}


// .menu-nav {
//     position: absolute;
// 	top: 0;
// 	right: 12rem;

// 	li {
// 		display: inline-block;
// 	}
// }

// .menu-nav_item {
// 	a {
// 		text-decoration: none;
// 	}
// }
